<script id="outputErrorTemplate" type="text/html">
    <div class="form-control text-danger">{{text}}</div>
</script>

<script id="outputInfoTemplate" type="text/html">
    <div class="form-control text-bg-success">{{text}}</div>
</script>

<script id="outputUserTemplate" type="text/html">
    <div class="entry">
        <div class="d-flex justify-content-between entry-header">
            <div class="participant">
                <span class="participant-icon">
                    <i class="bi bi-person"></i>
                </span>
                <span class="participant-name">User</span>
            </div>
            <div class="entry-date">{{date}}</div>
        </div>
        <div class="content">{{text}}</div>
    </div>
</script>

<script id="outputBotTemplate" type="text/html">
    <div id="{{uniqueId}}" class="entry">
        <div class="d-flex justify-content-between entry-header">
            <div class="d-flex justify-content-start">
                 <div class="participant">
                    <span class="participant-icon">
                        <i class="bi bi-robot"></i>
                    </span>
                    <span class="participant-name">Model</span>
                </div>
            </div>
            <div class="entry-date date"></div>
        </div>
        <div class="content"><img src="~/image/loading.gif" width="30" /></div>
        <div class="signature"></div>
    </div>
</script>

<script id="signatureTemplate" type="text/html"><span>{{content}}</span></script>